
@{
    ViewBag.Title = "Trangchu";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
}


<main class="main">
    <h1>CÁC SẢN PHẨM NỔI BẬT</h1>
    <div class="list-product">
        <section class="item">
            <a href="Giay1" class="item-image">
                <img src="~/images/1.png" />
            </a>

            <h3>
                <a href="Giay1" class="item-title"> Giày Nike V2K Đế Nâu </a>
            </h3>


            <div class="item-price">
                <del>939.000 đ</del>
                <br />
                <span style="color:red;font-weight:bold">899.000 đ</span>
            </div>

            <div class="item-cmt">
                <span>52 đánh giá</span>
            </div>
            <br />
            @*<button onclick="addToCart('Giày Nike V2K Đế Nâu', 899000)">Thêm vào giỏ</button>
                <script>
                    function addToCart(name, price) {
                        let cart = JSON.parse(localStorage.getItem('cart')) || [];
                        cart.push({ name, price });
                        localStorage.setItem('cart', JSON.stringify(cart));
                        alert(name + " đã được thêm vào giỏ hàng!");
                    }
                </script>*@
        </section>


        <section class="item">
            <a href="Giay2" class="item-image">
                <img src="~/images/2.png" />
            </a>

            <h3>
                <a href="Giay2" class="item-title"> Giày Nike Air Force 1 Màu Ghi </a>
            </h3>


            <div class="item-price">
                <del>890.000 đ</del>
                <br />
                <span style="color:red;font-weight:bold">799.000 đ</span>
            </div>

            <div class="item-cmt">
                <span>55 đánh giá</span>
            </div>
            <br />
            @*<button onclick="addToCart('Giày Nike Air Force 1 Low', 799000)">Thêm vào giỏ</button>
                <script>
                    function addToCart(name, price) {
                        let cart = JSON.parse(localStorage.getItem('cart')) || [];
                        cart.push({ name, price });
                        localStorage.setItem('cart', JSON.stringify(cart));
                        alert(name + " đã được thêm vào giỏ hàng!");
                    }
                </script>*@
        </section>



        <section class="item">
            <a href="Giay3" class="item-image">
                <img src="~/images/3.png" />
            </a>

            <h3>
                <a href="Giay3" class="item-title">
                    Giày Nike Air Force 1 ( họa tiết Burberry check )
                </a>
            </h3>


            <div class="item-price">
                <del>1.199.000 đ</del>
                <br />
                <span style="color:red;font-weight:bold">999.000 đ</span>
            </div>

            <div class="item-cmt">
                <span>55 đánh giá</span>
            </div>
            <br />
            @*<button onclick="addToCart('Giày Nike Air Force 1 ( họa tiết Burberry check )', 999000)">Thêm vào giỏ</button>
                <script>
                    function addToCart(name, price) {
                        let cart = JSON.parse(localStorage.getItem('cart')) || [];
                        cart.push({ name, price });
                        localStorage.setItem('cart', JSON.stringify(cart));
                        alert(name + " đã được thêm vào giỏ hàng!");
                    }
                </script>*@
        </section>



        <section class="item">
            <a href="Giay4" class="item-image">
                <img src="~/images/4.png" />
            </a>

            <h3>
                <a href="Giay4" class="item-title">
                    Giày Nike Air Force 1 Louis Vuitton monogram
                </a>
            </h3>


            <div class="item-price">
                <del>929.000 đ</del>
                <br />
                <span style="color:red;font-weight:bold">893.000 đ</span>
            </div>

            <div class="item-cmt">
                <span>55 đánh giá</span>
            </div>
            <br />
            @*<button onclick="addToCart(' Giày Nike Air Force 1 Louis Vuitton monogram', 893000)">Thêm vào giỏ</button>
                <script>
                    function addToCart(name, price) {
                        let cart = JSON.parse(localStorage.getItem('cart')) || [];
                        cart.push({ name, price });
                        localStorage.setItem('cart', JSON.stringify(cart));
                        alert(name + " đã được thêm vào giỏ hàng!");
                    }
                </script>*@
        </section>



        <section class="item">
            <a href="Giay5" class="item-image">
                <img src="~/images/5.png" />
            </a>

            <h3>
                <a href="Giay5" class="item-title"> Giày Nike Air Force White Team Royal </a>
            </h3>


            <div class="item-price">
                <del>1.133.000 đ</del>
                <br />
                <span style="color:red;font-weight:bold">959.000 đ</span>
            </div>

            <div class="item-cmt">
                <span>55 đánh giá</span>
            </div>
            <br />
            @*<button onclick="addToCart('Giày Nike Air Force White Team Royal', 959000)">Thêm vào giỏ</button>
                <script>
                    function addToCart(name, price) {
                        let cart = JSON.parse(localStorage.getItem('cart')) || [];
                        cart.push({ name, price });
                        localStorage.setItem('cart', JSON.stringify(cart));
                        alert(name + " đã được thêm vào giỏ hàng!");
                    }
                </script>*@
        </section>



        <section class="item">
            <a href="Giay6" class="item-image">
                <img src="~/images/6.png" />
            </a>

            <h3>
                <a href="Giay6" class="item-title">Giày AF1 Supreme Black </a>
            </h3>


            <div class="item-price">
                <del>889.000 đ</del>
                <br />
                <span style="color:red;font-weight:bold">799.000 đ</span>
            </div>

            <div class="item-cmt">
                <span>55 đánh giá</span>
            </div>
            <br />
            @*<button onclick="addToCart('Giày Nike Air Force 1 Low Triple Black', 799000)">Thêm vào giỏ</button>
                <script>
                    function addToCart(name, price) {
                        let cart = JSON.parse(localStorage.getItem('cart')) || [];
                        cart.push({ name, price });
                        localStorage.setItem('cart', JSON.stringify(cart));
                        alert(name + " đã được thêm vào giỏ hàng!");
                    }
                </script>*@
        </section>



        <section class="item">
            <a href="Giay7" class="item-image">
                <img src="~/images/7.png" />
            </a>

            <h3>
                <a href="Giay7" class="item-title">
                    Giày Nike Air Force 1 custom
                </a>
            </h3>


            <div class="item-price">
                <del>729.000 đ</del>
                <br />
                <span style="color:red;font-weight:bold">699.000 đ</span>
            </div>

            <div class="item-cmt">
                <span>55 đánh giá</span>
            </div>
            <br />
            @*<button onclick="addToCart('Giày Nike Air Force 1 custom', 699000)">Thêm vào giỏ</button>
                <script>
                    function addToCart(name, price) {
                        let cart = JSON.parse(localStorage.getItem('cart')) || [];
                        cart.push({ name, price });
                        localStorage.setItem('cart', JSON.stringify(cart));
                        alert(name + " đã được thêm vào giỏ hàng!");
                    }
                </script>*@
        </section>



        <section class="item">
            <a href="Giay8" class="item-image">
                <img src="~/images/8.png" />
            </a>

            <h3>
                <a href="Giay8" class="item-title">
                    Giày Nike Air Jordan 3
                </a>
            </h3>


            <div class="item-price">
                <del>1.179.000 đ</del>
                <br />
                <span style="color:red;font-weight:bold">969.000 đ</span>
            </div>

            <div class="item-cmt">
                <span>55 đánh giá</span>
            </div>
            <br />
            @*<button onclick="addToCart('Giày Nike Air Jordan 3', 969000)">Thêm vào giỏ</button>
                <script>
                    function addToCart(name, price) {
                        let cart = JSON.parse(localStorage.getItem('cart')) || [];
                        cart.push({ name, price });
                        localStorage.setItem('cart', JSON.stringify(cart));
                        alert(name + " đã được thêm vào giỏ hàng!");
                    }
                </script>*@
        </section>



        <section class="item">
            <a href="Giay9" class="item-image">
                <img src="~/images/9.png" />
            </a>

            <h3>
                <a href="Giay9" class="item-title">
                    Giày JD3 Retro NRG Tinker
                </a>
            </h3>


            <div class="item-price">
                <del>859.000 đ</del>
                <br />
                <span style="color:red;font-weight:bold">769.000 đ</span>
            </div>

            <div class="item-cmt">
                <span>55 đánh giá</span>
            </div>
            <br />
            @*<button onclick="addToCart(' Giày - Jordan 3 Retro Black Cement', 769000)">Thêm vào giỏ</button>
                <script>
                    function addToCart(name, price) {
                        let cart = JSON.parse(localStorage.getItem('cart')) || [];
                        cart.push({ name, price });
                        localStorage.setItem('cart', JSON.stringify(cart));
                        alert(name + " đã được thêm vào giỏ hàng!");
                    }
                </script>*@
        </section>




        <section class="item">
            <a href="Giay10" class="item-image">
                <img src="~/images/10.png" />
            </a>

            <h3>
                <a href="Giay10" class="item-title"> Giày Nike Air Force 1 Low “Triple White” </a>
            </h3>


            <div class="item-price">
                <del>759.000 đ</del>
                <br />
                <span style="color:red;font-weight:bold">689.000 đ</span>
            </div>

            <div class="item-cmt">
                <span>55 đánh giá</span>
            </div>
            <br />
            @*<button onclick="addToCart('Giày Nike Air Force 1 Low “Triple White”', 689000)">Thêm vào giỏ</button>
                <script>
                    function addToCart(name, price) {
                        let cart = JSON.parse(localStorage.getItem('cart')) || [];
                        cart.push({ name, price });
                        localStorage.setItem('cart', JSON.stringify(cart));
                        alert(name + " đã được thêm vào giỏ hàng!");
                    }
                </script>*@

        </section>



        <section class="item">
            <a href="Giay11" class="item-image">
                <img src="~/images/11.png" />
            </a>

            <h3>
                <a href="Giay11" class="item-title"> Giày Nike Air Jordan 1 Low “Reverse Mocha” </a>
            </h3>


            <div class="item-price">
                <del>933.000 đ</del>
                <br />
                <span style="color:red;font-weight:bold">876.000 đ</span>
            </div>

            <div class="item-cmt">
                <span>55 đánh giá</span>
            </div>
            <br />
            @*<button onclick="addToCart('Giày Nike Air Jordan 1 Low “Reverse Mocha”', 876000)">Thêm vào giỏ</button>
                <script>
                    function addToCart(name, price) {
                        let cart = JSON.parse(localStorage.getItem('cart')) || [];
                        cart.push({ name, price });
                        localStorage.setItem('cart', JSON.stringify(cart));
                        alert(name + " đã được thêm vào giỏ hàng!");
                    }
                </script>*@
        </section>




        <section class="item">
            <a href="Giay12" class="item-image">
                <img src="~/images/12.png" />
            </a>

            <h3>
                <a href="Giay12" class="item-title"> Giày Nike SB Dunk Low “Travis Scott x PlayStation” </a>
            </h3>


            <div class="item-price">
                <del>959.000 đ</del>
                <br />
                <span style="color:red;font-weight:bold">879.000 đ</span>
            </div>

            <div class="item-cmt">
                <span>55 đánh giá</span>
            </div>
            <br />
            @*<button onclick="addToCart('Giày Nike SB Dunk Low “Travis Scott x PlayStation”', 879000)">Thêm vào giỏ</button>
                <script>
                    function addToCart(name, price) {
                        let cart = JSON.parse(localStorage.getItem('cart')) || [];
                        cart.push({ name, price });
                        localStorage.setItem('cart', JSON.stringify(cart));
                        alert(name + " đã được thêm vào giỏ hàng!");
                    }
                </script>*@

        </section>
    </div>
</main>



